<%= render partial: 'details' %>

<% if current_user.participating? @exchange %>
  <% assignment = current_user.elf_assignments.where(exchange_id: @exchange.id).first %>
  <% if assignment.recipient.nil? %>
    <h4><%= t('assignment.unassigned') %></h4>
  <% else %>
    <h4>Recipient Details</h4>
    <%= render partial: 'users/details', locals: { user: assignment.recipient.decorate } %>
  <% end %>
<% end %> 
