<div aria-hidden="true" style="display: none;" class="bootstrap-modal modal fade" id="login-modal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">
          Sign In
        </h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <%= link_to image_tag('login-facebook.png'), "/auth/facebook"      if ENV['FACEBOOK_KEY']%>
          <%= link_to image_tag('login-google.png'),   "/auth/google_oauth2" if ENV['GOOGLE_KEY']%>
        </div>
      </div>
  </div>
</div>
