<div aria-hidden="true" style="display: none;" class="bootstrap-modal modal fade" id="login-modal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">
          Sign In
        </h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <a class="login-btn" href="/auth/facebook"><img alt="Login facebook" src="/assets/login-facebook.png"></a>
        </div>
      </div>
  </div>
</div>
